@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--border);
  }

  html {
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-width: 320px;
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
  }

  :focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
  }
}
